/plugins
/shims
/version
/versions
/sources
/cache
/libexec/*.dylib
/src/Makefile
/src/*.o
/node_modules

# from hugoenv-default-packages plugin: https://github.com/hugoenv/hugoenv-default-packages
/default-packages

/hugoenv-hugoenv-*.tgz
